.projeto-lista__item {
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 34px;
  background: #015051;
  transition: all 0.5s ease-in-out;
}

.projeto-lista__item:hover{
  background-color: var(--corFundoSecao);
}